@charset "UTF-8";

/*
    Todas as fontes utilizadas no OED devem estar referenciadas no CSS.
    As fontes nos formatos .eot, .woff, .ttf e .svg devem estar na mesma pasta do CSS.
*/

@font-face {
    font-family: 'economicabold';
    src: url('economica-bold-webfont.eot');
    src: url('economica-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('economica-bold-webfont.woff') format('woff'),
    url('economica-bold-webfont.ttf') format('truetype'),
    url('economica-bold-webfont.svg#economicabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'economicabold_italic';
    src: url('economica-bolditalic-webfont.eot');
    src: url('economica-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('economica-bolditalic-webfont.woff') format('woff'),
    url('economica-bolditalic-webfont.ttf') format('truetype'),
    url('economica-bolditalic-webfont.svg#economicabold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'economicaitalic';
    src: url('economica-italic-webfont.eot');
    src: url('economica-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('economica-italic-webfont.woff') format('woff'),
    url('economica-italic-webfont.ttf') format('truetype'),
    url('economica-italic-webfont.svg#economicaitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'economicaregular';
    src: url('economica-regular-webfont.eot');
    src: url('economica-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('economica-regular-webfont.woff') format('woff'),
    url('economica-regular-webfont.ttf') format('truetype'),
    url('economica-regular-webfont.svg#economicaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ------------------------------------------------------------------------
    Tamanho do OED
*/

.geral{
    width:1024px;
    height:768px;
}

/* ------------------------------------------------------------------------
    Lista de botões da timeline
*/
div.listaHolder{
    width: 1024px;
    position: absolute;
    overflow-x: scroll;
    overflow-y: hidden;
    z-index: 2;
}

ul#lista {
    width: auto;
    padding: 0;
    margin: 0 auto;
}

ul#lista li{
    float:left;
    list-style: none;
}

/* ------------------------------------------------------------------------
    Texto dos botões da timeline
*/

.button{
    text-align: center;
    font-family: "economicaregular", Arial, Tahoma;
    font-size: 20px;
    color: #FFFFFF;
    cursor: pointer;
}

.button p{
    margin-top: 25px;
    margin-left: 0px;
}

/* ------------------------------------------------------------------------
    Texto das telas
    Título e texto podem ter fontes e tamanhos diferentes.
    Conteudo define as propriedades da caixa de texto.
*/

.titulo{
    height: auto;
    width: auto;
    font-family: "economicaregular", Arial, Tahoma;
    font-size: 24px;
}

.texto{
    font-family: Arial, Tahoma;
    font-size: 18px;
    font-style: inherit;
    line-height: 150%;
    margin-top: 15px;
}

.conteudo{
    position: absolute;
    border:10px solid #FFFFFF;
    background:#FFFFFF;
    opacity: 0.90;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
}

/* ------------------------------------------------------------------------
    Ancora para o livro, define a imagem e o estilo do texto
*/

.ancora{
    visibility: hidden;
    background-image: url("../imgs/box_bt_pag_livro.png");
    position: absolute;
    width: 375px;
    height:51px;
    text-align: center;
    line-height: 50px;
    font-family: "economicaregular", Arial, Tahoma;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
}

/* ------------------------------------------------------------------------
    Propriedade geral das telas de saiba mais
*/

.saibaMais{
    position: absolute;
    visibility: hidden;
}

.saibaMais_bg{
    background-color: #000000;
    display: none;
    z-index: 3;
    width: 1024px;
    height: 768px;
    position: absolute;
    font-style: inherit;
    line-height: 120%;
}

/* ------------------------------------------------------------------------
    Botão voltar das telas de saiba mais
*/

.voltar{
    background-position: center;
    background-image: url("../imgs/bt_voltar.png");
    background-repeat: no-repeat;
    width: 93px;
    height: 93px;
    position: absolute;
    cursor: pointer;
    top: 3px;
    left: 0px;
}

/* ------------------------------------------------------------------------
    Saiba Mais - Texto
*/

.tituloSaibaMais{
    font-family: Arial, Tahoma;
    color: #ffffff;
    font-size: 24px;
    width: 585px;
    height: 30px;
    position: absolute;
    margin-left: 250px;
    margin-top: 215px;
    line-height: 120%;
}

.textoSaibaMais{
    font-family: Arial, Tahoma;
    color: #ffffff;
    font-size: 20px;
    line-height: 23px;
    width: 585px;
    height: 240px;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    margin-left: 250px;
    margin-top: 310px;
}

/* ------------------------------------------------------------------------
    Saiba Mais - Legenda (Para audio, vídeo e imagem)
*/

.legendaSaibaMais{
    background-color: #1D1D1D;
    width: 1024px;
    height: 80px;
    position: absolute;
    margin-left: 0px;
    margin-top: 688px;
}

.texto_legenda{
    font-family: Arial, Tahoma;
    color: #FFFFFF;
    line-height: 20px;
    font-size: 18px;
    width: 995px;
    height: 60px;
    position: absolute;
    margin: 10px 20px auto 20px;
}

/* ------------------------------------------------------------------------
    Saiba Mais - Imagem
*/

.centro{
    width: auto;
    height: auto;
    text-align: center;
}

.credito_imagem{
    width: 550px;
    text-align: left;
    position: absolute;
    font-family: Arial, Tahoma;
    color: #FFFFFF;
    line-height: 20px;
    font-size: 14px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
/* ------------------------------------------------------------------------
    Saiba Mais - Audio
*/

.imagem_audio{
    margin-top: 130px;
}

.player_audio{
    margin-top: 50px;
}

.credito_audio{
    width: 570px;
    text-align: center;
    position: absolute;
    font-family: Arial, Tahoma;
    color: #FFFFFF;
    line-height: 20px;
    font-size: 16px;
    margin-left: 227px;
    margin-top: 10px;
}

.creditoAudio_img{
    width: 360px;
    text-align: left;
    position: absolute;
    font-family: Arial, Tahoma;
    color: #FFFFFF;
    line-height: 20px;
    font-size: 14px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    margin-left: 640px;
    margin-top: -205px;
}

/* ------------------------------------------------------------------------
    Saiba Mais - Video
*/

.video_saibaMais{
    margin-top: 165px;
}

.credito_video{
    width: 360px;
    text-align: left;
    position: absolute;
    font-family: Arial, Tahoma;
    color: #FFFFFF;
    line-height: 20px;
    font-size: 14px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    margin-left: 620px;
    margin-top: -205px;
}

/* ------------------------------------------------------------------------
    Scroll na tela
*/

.scroll{
    position: absolute;
    width: 1024px;
    overflow-y:hidden;
    overflow-x: auto;
}

/* ------------------------------------------------------------------------
    Crédito BG
*/

.credito_bg{
    display: none;
    width: 22px;
    height: 780px;
    position: absolute;
    top:0;
    background: #000;
	background: rgba(0, 0, 0, 0.5);
    word-wrap: break-word;
}
.credito_bg .texto_credito_bg {
    display: block;
    font-family: Arial, Tahoma;
    font-size: 16px;
    height: 22px;
    color: #fff;
    position: absolute;
    -webkit-transform: rotate(-90deg);
    box-sizing:border-box;
    -moz-box-sizing:border-box;
	padding-left:20px;
}
.legenda_bg {
    display: none;
    width: 1024px;
    height: 40px;
    bottom: 93px;
    left: 0;
    position: fixed;
    background: #000;
}
.legenda_bg_texto {
    display: none;
    font-family: Arial, Tahoma;
    font-size: 18px;
    position: absolute;
    color: #fff;
    bottom: 10px;
    z-index: 2;
    margin-left: 45px
}
/* ------------------------------------------------------------------------
*/

.no_video{
    width: 520px;
    height: 390px;
    position: relative;
    margin: 0 auto;
    padding: 0;
    border: 0;
}

.img_LED_video{
    position: absolute;
    top: 0px;
    left: 0px;
}
b, strong {
    font-weight: bold;
}
i, em {
    font-style: italic;
}